#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=381674845186473";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.container
  .blog
    .post
      .title-date= @blog['date']
      .clear
      .blog_post
        .block
          %h4= @blog['title']
        = File.open("blogs/#{@blog['url']}.html").read
%img.img-responsive{:src => @blog['img']} 
.container
  .post
    .pagination
      - if @prev
        .prev
          %a(href="/blog/#{@prev['url']}")
            &lsaquo; Previous

      - if @next
        .next
          %a(href="/blog/#{@next['url']}")
            Next &rsaquo;
               
    .archives
      %ul
        - @blogs.reverse.each do |b|
          %li 
            %a(href="/blog/#{b['url']}")= b['title']
            %br/
            %span= b['date']
.clear
