#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=381674845186473";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

%nav
  .off
    %a(href="/")
      %img.btn(src="/images/navigation/about.jpg" alt="about")/
  .off
    %a(href="/portfolio")
      %img.btn(src="/images/navigation/portfolio.jpg" alt="portfolio")/
  .on
    %a(href="/blog")
      %img.btn(src="/images/navigation/blog.jpg" alt="blog")/

.blog
  .post
    .title-date= @blog['date']
    .clear
    .blog_post
      .clear
      %h4= @blog['title']
      .clear
      = File.open("blogs/#{@blog['url']}.html").read
      .fb-comment-wrapper
        .fb-comments{'data-href' => "http://www.anaenders.com/blog/#{@blog['url']}", 'data-num-posts' => 5, 'data-width' => 506}

  .pagination
    - if @prev
      .prev
        %a(href="/blog/#{@prev['url']}")
          %img(src="/images/blog/previous.jpg" alt="previous")/
    - if @next
      .next
        %a(href="/blog/#{@next['url']}")
          %img(src="/images/blog/next.jpg" alt="next")/
       
  .archives
    %ul
      - @blogs.reverse.each do |b|
        %li 
          %a(href="/blog/#{b['url']}")= b['title']
          %br/
          %span= b['date']
.clear
