.portfolio
  .full-width 
    .container 
      .section
        %h1
          Welcome to My Portfolio
        %p
          Check out the fancy stuff I've built! The professional and personal web development sections lists sites where my role was primarily implementation, with the occasional design gig. The section called "Print" shows mostly personal and school related works of art. "Woodworking" showcases custom furniture I built or help to build back in my woodworking days.
        %p 
          Click around for more detail.
  .container
    .web.professional   
      .section
        %h1
          professional web development & design 

        - @section1.each do |professional|
          .small-thumb{'data-toggle' => 'modal', 'data-target' => '#' + professional['id']}
            %img{:src => professional['thumbnail'], :alt => professional['alt']}/

          .modal{:id => professional['id'], :tabindex => '-1'}
            .modal-dialog
              .modal-content   
                %a.close{:href => '#', 'data-dismiss' => 'modal'}
                  x
                .modal-body
                  %img.img-responsive{:src => professional['img'], :alt => professional['alt']}/
                  .detail-container
                    .inner-container
                      .project-description
                        %span   
                          = professional['title']
                        = professional['description']
    .web.personal    
      .section
        %h1
          personal web development & design

        - @section2.each do |personal|
          .small-thumb{'data-toggle' => 'modal', 'data-target' => '#' + personal['id']}
            %img{:src => personal['thumbnail'], :alt => personal['alt']}/

          .modal{:id => personal['id'], :tabindex => '-1'}
            .modal-dialog
              .modal-content   
                %a.close{:href => '#', 'data-dismiss' => 'modal'}
                  x
                .modal-body
                  %img.img-responsive{:src => personal['img'], :alt => personal['alt']}/
                  .detail-container
                    .inner-container
                      .project-description
                        %span   
                          = personal['title']
                        = personal['description']

    .print
      .section
        %h1 
          print 

        - @section3.each do |print|
          - if print.kind_of?(Array)
            .group-float
              - print.each do |element|
                .small-thumb{'data-toggle' => 'modal', 'data-target' => '#' + element['id']}
                  %img{:src => element['thumbnail'], :alt => element['alt']}/

                .modal{:id => element['id'], :tabindex => '-1'}
                  .modal-dialog
                    .modal-content   
                      %a.close{:href => '#', 'data-dismiss' => 'modal'}
                        x
                      .modal-body
                        %img.img-responsive{:src => element['img'], :alt => element['alt']}/
                        .detail-container
                          .inner-container
                            .project-description
                              %span   
                                = element['title']
                              = element['description']

          - else
            .small-thumb{'data-toggle' => 'modal', 'data-target' => '#' + print['id']}
              %img{:src => print['thumbnail'], :alt => print['alt']}/

            .modal{:id => print['id'], :tabindex => '-1'}
              .modal-dialog
                .modal-content   
                  %a.close{:href => '#', 'data-dismiss' => 'modal'}
                    x
                  .modal-body
                    %img.img-responsive{:src => print['img'], :alt => print['alt']}/
                    - if print['id'] == 'bw1'
                      .detail-container.long-content
                        .inner-container
                          .project-description
                            %span   
                              = print['title']
                            = print['description']
                    - else
                      .detail-container
                        .inner-container
                          .project-description
                            %span   
                              = print['title']
                            = print['description']

        .abstract.small-thumb{'data-toggle' => 'modal', 'data-target' => '#abstract'}
          %img{:src => "/images/portfolio/print/abstract.png", :alt => "abstract"}/

        .signage.small-thumb{'data-toggle' => 'modal', 'data-target' => '#signage'}
          %img{:src => "/images/portfolio/print/signage.png", :alt => "signage"}/

        .modal{:id => "abstract", :tabindex => '-1'}
          .modal-dialog
            .modal-content   
              %a.close{:href => '#', 'data-dismiss' => 'modal'}
                x
              .modal-body
                %img.img-responsive{:src => '/images/portfolio/print/abstract.jpg', :alt => 'abstract'}/
                .detail-container
                  .inner-container
                    .project-description
                      %span   
                        Composing with type
                      %p
                        These abstract compositions use three different font types at 48pt. They are composed using parts of several letters, punctuations and/or numbers.

        .modal{:id => "signage", :tabindex => '-1'}
          .modal-dialog
            .modal-content   
              %a.close{:href => '#', 'data-dismiss' => 'modal'}
                x
              .modal-body
                %img.img-responsive{:src => '/images/portfolio/print/signage.jpg', :alt => 'signage'}/
                .detail-container
                  .inner-container
                    .project-description
                      %span   
                        Typographic portrait of a NYC neighborhood (East Village)
                      %p
                        In this graduate school assignment I was asked to explore a neighborhood of my choice and collect pictures of old and new signage, postings of all kinds, graffiti, way finding systems, etc., that define the neighborhood. From these images, I created a book that visually explores the East Village and its specific flavor. These are the final photographs that were included in my typographic neighborhood book.

    .woodwork
      .section
        %h1
          woodwork

        - @section4.each do |woodwork|
          .small-thumb{:class => woodwork['class'], 'data-toggle' => 'modal', 'data-target' => '#' + woodwork['id']}
            %img{:src => woodwork['thumbnail'], :alt => woodwork['alt']}/

          .modal{:id => woodwork['id'], :tabindex => '-1'}
            .modal-dialog
              .modal-content   
                %a.close{:href => '#', 'data-dismiss' => 'modal'}
                  x
                .modal-body
                  %img.img-responsive{:src => woodwork['img'], :alt => woodwork['alt']}/
                  .detail-container
                    .inner-container
                      .project-description
                        %span   
                          = woodwork['title']
                        = woodwork['description']
